.navigation__links {
    list-style: none;
    float: left;
    margin-top: -10px;
}
.navigation__links li {
    margin-top: 4px;
    position: relative;
    float: left;
}
.navigation__links li a{
    margin-top: 4px;
    font-family: cursive;
    font-size: 1.3em;
    background-color: rgb(91, 91, 112);
    box-shadow:0 5px 0 rgb(32, 9, 43);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    border-radius: 18px;
}
.navigation__links li a:hover {
    background: blueviolet;
    color: #fff;
    -moz-box-shadow: 0 3px 10px 0 #ccc;
    -webkit-box-shadow: 0px 0px 5px #fff;
    text-shadow: 0px 0px 5px #fff;
}